<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Persona</title>
</head>
<body>
    <h1>Formulario de Persona</h1>
    <form th:object="${persona}" th:action="${/personas/nueva}" method="post">
        <label>Nombre : <input type="text" th:field="*{nombre}"/></label>
        <label>Edad : <input type="text" th:field="*{edad}"/></label>
        <button type="submit">Guardar</button>
    </form>

    <a href="/personas">Volver al listado de Personas</a>
</body>
</html>